.clients-section {
  width: 100%;
  margin: 0;
  border: 0;
  background: #ffffff;
  padding: 75px 0;
}

.clients-container {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.clients-container h2 {
  margin-bottom: 45px;
  color: #444;
  font-size: 25px;
  font-weight: 400;
}

.clients-logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

.client-logo img {
  width: 80px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #b9a9d4;
  font-size: 24px;
  font-weight: 500;
}

.client-logo span {
  opacity: 0.8;
}

.bootstrap-logo {
  width: 30px;
  height: 30px;

  border-radius: 5px;

  background: #b9a9d4;
  color: white;

  font-size: 24px;
}

.adobe-logo {
  display: flex;
  flex-direction: column;

  line-height: 1;
}

.adobe-logo span {
  font-size: 27px;
  font-weight: bold;
}

.adobe-logo small {
  margin-top: 4px;
  font-size: 9px;
}

@media (max-width: 768px) {
  .clients-section {
    padding: 60px 0;
  }

  .clients-container h2 {
    font-size: 23px;
    margin-bottom: 35px;
  }

  .clients-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .client-logo {
    margin: auto;
  }
}
