.seo-section {
  width: 100%;
  background: #fff;
  padding: 80px 0;
}

.seo-container {
  width: 85%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 70px;
}

.seo-image img {
  width: 100%;
  display: block;
}

.seo-content h2 {
  font-size: 25px;
  font-weight: 400;
  color: #444;

  margin-bottom: 20px;
}

.seo-content p {
  font-size: 14px;
  line-height: 1.8;
  color: #999;

  margin-bottom: 25px;
}

.section-btn {
  border: none;
  background: #745cf9;
  color: white;
  padding: 15px 30px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 768px) {
  .seo-section {
    padding: 60px 0;
  }

  .seo-container {
    width: 88%;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .seo-content {
    text-align: center;
  }

  .seo-content h2 {
    font-size: 24px;
  }

  .seo-content p {
    font-size: 13px;
  }
}
